- if policy(current_group).show_notifications_badge?(controller_path)
  span class="badge notifications-count #{extra_classes}" title=current_group.notifications_title
    = current_group.notifications_count
