RACK_ENV=development
SECRET_KEY_BASE=development_secret
CLOUDINARY_URL=cloudinary_url
ALGOLIASEARCH_API_KEY=api_key
ALGOLIASEARCH_API_KEY_SEARCH=api_key_search
ALGOLIASEARCH_APPLICATION_ID=app_id
TWITTER_API_KEY=api_key
TWITTER_API_SECRET=api_secret
FACEBOOK_APP_ID=key
FACEBOOK_APP_SECRET=key
GOOGLE_CLIENT_ID=key
GOOGLE_CLIENT_SECRET=key
LINKEDIN_API_KEY=key
LINKEDIN_API_SECRET=key
NEW_RELIC_LICENSE_KEY=key
