a>[
  class="{{ locals['html_class'] }}"
  href="#" onclick="return false;"
  id="membership_{{ membership.id }}"
  data-toggle="popover"
  data-html="true"
  data-placement="bottom"
  data-content="{{ UsersHelper.user_popover_content(post.membership) }}"
  data-template="{{ UsersHelper.user_popover_template() }}" ]

  span[
    ng-if="!locals['hide_overlay'] && UsersHelper.show_role_overlay(post.membership)"
    class="role-overlay role-overlay-{{ membership.role }}" ] {{ membership.role[0] }}

  img.img-circle[
    ng-attr-src="{{ membership.user_avatar_url }}"
    width="16"
    height="16"]

  span[ng-if="!!locals['display_name']"]
    '  {{ membership.user_full_name }}
    span[ng-if="!locals['hide_title'] && !isBlank(membership.user_title)"]
      ' •
      span.user-title<[] {{ membership.user_title }}
