div[
  ng-if="authorizer.policy(POLICIES.collection_create)"
  ng-include="'collections/_modal_new.html'"
  onload="init_checkboxes()" ]

ul.nav.nav-pills.nav-collections
  li[
    ng-repeat="collection in collections_to_show"
    ng-class="collection_class(collection.id)" ]

    a[
      ng-click="update_collection_id(collection.id)"
      id="collection_{{ collection.id }}"
      title="{{ collection.name | uppercase }}"
      data-toggle="tooltip"
      data-placement="top" ]

      i.fa.circle[class="{{ isBlank(collection.icon_class) ? 'fa-list' : 'fa-' + collection.icon_class }}"]

  li.dropdown.more[
    ng-if="group.will_show_collection_dropdown"
    class="{{ group.will_show_add_collection_hint ? 'hint-add-collection' : '' }}" ]

    a.dropdown-toggle[
      data-close-others="false"
      data-delay="1000"
      data-hover="dropdown"
      data-toggle="dropdown"
      href="#" onclick="return false;" ]

      i.fa.fa-ellipsis-h.circle

    ul.dropdown-menu.dropdown-right
      li[
        ng-repeat="collection in hidden_collections"
        ng-class="collection_class(collection.id)"
        role="presentation" ]

        a[
          ng-click="update_collection_id(collection.id)"
          id="collection_{{ collection.id }}" ]

          i.fa.circle[class="{{ isBlank(collection.icon_class) ? 'fa-list' : 'fa-' + collection.icon_class }}"]
          | {{ collection.name | uppercase }}

      li.divider[
        ng-if="authorizer.policy(POLICIES.collection_create) && hidden_collections.length > 0"
        role="presentation" ]

      li[
        ng-if="authorizer.policy(POLICIES.collection_create)"
        role="presentation" ]

        a[
          href="#" onclick="return false;"
          data-toggle="modal"
          data-target="#add_collection" ]

          i.fa.fa-plus
          | Add Collection
