@import "fonts";
@import "icons";
@import "humane/themes/libnotify";
@import "select2";

.humane,
.humane-libnotify {
  top: auto;
  right: auto;
  bottom: 10px;
  left: 10px;
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: none;
}

.humane-libnotify-success,
.humane-libnotify-error,
.humane-libnotify-info {
  background-image: none !important;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid;
  border-radius: 4px;
}

.humane-libnotify-success {
  border-color: #4cae4c;
  color: #4cae4c;
}

.humane-libnotify-error {
  border-color: #d43f3a;
  color: #d43f3a;
}

.humane-libnotify-info {
  border-color: #46b8da;
  color: #46b8da;
}


.btn-success.btn-bright-success {
  $color: #049F0C;

  color: white !important;
  background-color: $color !important;
  border-color: $color !important;

  @include on_link_actions {
    background-color: darken($color, 5%) !important;
    border-color: darken($color, 5%) !important;
  }
}

.btn-primary.btn-bright-primary {
  $color: #2ca8ff;
  $active_color: #1D62F0;

  color: white !important;
  background-color: $color !important;
  border-color: $color !important;

  @include on_link_actions {
    background-color: $active_color !important;
    border-color: $active_color !important;
  }
}

