@import "fonts";
@import "icons";
@import "humane/themes/libnotify";
@import "select2";

.humane,
.humane-libnotify {
  top: auto;
  right: auto;
  bottom: 10px;
  left: 10px;
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: none;
}

.humane-libnotify-success,
.humane-libnotify-error,
.humane-libnotify-info {
  background-image: none !important;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.humane-libnotify-success {
  background-color: #4cae4c;
}

.humane-libnotify-error {
  background-color: #d43f3a;
}

.humane-libnotify-info {
  background-color: #46b8da;
}


.btn-success.btn-bright-success {
  $color: #049F0C;

  color: white !important;
  background-color: $color !important;
  border-color: $color !important;

  @include on_link_actions {
    background-color: darken($color, 5%) !important;
    border-color: darken($color, 5%) !important;
  }
}

.btn-primary.btn-bright-primary {
  $color: #2ca8ff;
  $active_color: #1D62F0;

  color: white !important;
  background-color: $color !important;
  border-color: $color !important;

  @include on_link_actions {
    background-color: $active_color !important;
    border-color: $active_color !important;
  }
}

.modal {
  color: $text-color;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.isloading-wrapper.isloading-right {
  margin-left:10px;
}

.isloading-overlay {
  position:relative;
  text-align:center;
  background: rgba(255, 255, 255, 0.5) !important;
}

.isloading-overlay .isloading-wrapper{
  background:#FFFFFF;
  border-radius:7px;
  background-clip:padding-box;
  display:inline-block;
  margin:0 auto;
  padding:10px 20px;
  top:10%;
  z-index:9000;
}
