
@font-face {
    font-family: 'nunito';
    src: font-url('nunito-light-webfont.eot');
    src: font-url('nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('nunito-light-webfont.woff2') format('woff2'),
         font-url('nunito-light-webfont.woff') format('woff'),
         font-url('nunito-light-webfont.ttf') format('truetype'),
         font-url('nunito-light-webfont.svg#nunito') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nunito';
    src: font-url('nunito-bold-webfont.eot');
    src: font-url('nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('nunito-bold-webfont.woff2') format('woff2'),
         font-url('nunito-bold-webfont.woff') format('woff'),
         font-url('nunito-bold-webfont.ttf') format('truetype'),
         font-url('nunito-bold-webfont.svg#nunito') format('svg');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'nunito';
    src: font-url('nunito-regular-webfont.eot');
    src: font-url('nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('nunito-regular-webfont.woff2') format('woff2'),
         font-url('nunito-regular-webfont.woff') format('woff'),
         font-url('nunito-regular-webfont.ttf') format('truetype'),
         font-url('nunito-regular-webfont.svg#nunito') format('svg');
    font-weight: bolder;
    font-style: normal;

}