$icon-circle-size: 34px;
$icon-circle-background-color: #f7c94c;
$icon-circle-background-color-hover: #efaf00;
$icon-circle-color: rgba(0, 0, 0, 0.8);

.fa.circle {
  @include size($icon-circle-size);
  @include transition(background-color 0.25s ease);

  line-height: $icon-circle-size;
  border-radius: $icon-circle-size;
  font-size: $icon-circle-size * 0.6;
  background-color: $icon-circle-background-color;
  color: $icon-circle-color;
  text-align: center;
  vertical-align: middle;

  &.grey {
    background-color: #eeeeee;
    color: rgba(0, 0, 0, 0.25);
  }

  &.fa-lightbulb-o,
  &.fa-bug {
    padding-left: 1px;
  }

  &.fa-graduation-cap {
    padding-left: 2px;
  }

  &.fa-share-square-o {
    padding-left: 3px;
  }
}

a:hover,
a:focus,
a:active {
  .fa.circle {
    background-color: $icon-circle-background-color-hover;

    &.grey {
      background-color: #d4d4d4;
    }
  }
}