$icon-circle-size: 34px;
$icon-circle-color: #f7c94c;
$icon-circle-color-hover: #efaf00;

.fa.circle {
  @include size($icon-circle-size);
  @include transition(background-color 0.25s ease);

  line-height: $icon-circle-size;
  border-radius: $icon-circle-size;
  font-size: $icon-circle-size * 0.6;
  background-color: $icon-circle-color;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

a:hover,
a:focus,
a:active {
  .fa.circle {
    background-color: $icon-circle-color-hover;
  }
}