.admin-navigation {
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #ddd;
  width: 138px;
  position: relative;

  &:hover {
    border-color: #ddd;
    color: #3ea8db;
  }

  .title {
    font-size: 14px;
    display: block;
  }

  .admin-navigation-icon {
    display: block;
    width: auto;
    font-size: 4em;
  }

  .badge.notifications-count {
    font-size: 12px;
    height: 14px;
    min-width: 14px;
    line-height: 14px;
    top: 5px;
    right: 5px;
  }
}

.admin-navigation.active {
  color: #a8a8a8;
  border-color: #ddd;

  &:hover {
    opacity: 0.8;
  }
}
