.edit-group {
  .collection-modal {
    .inline-select {
      display: inline-block;
      width: 90%;
    }

    .collection-preview {
      margin-right: 15px;
    }

    .remove-link {
      display: inline-block;
    }
  }

  .group-url {
    display: inline-block;
  }

  .group-profile {
    display: table;
  }

  .group-image {
    padding-right: 10px;
    display: table-cell;
    vertical-align: top;
  }

  .group-right {
    display: table-cell;
    vertical-align: top;
  }

  .group-information {
  }

  .collections-list {
    .collection {
      margin-top: 5px;
    }

    .collection-image {
      display: inline-block;
      vertical-align: middle;
    }

    .collection-posts-count {
      display: inline-block;
    }

    .collection-name {
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
      text-transform: uppercase;
      width: 20%;
    }

    .collection-visibility {
      display: inline-block;
      margin-left: 40px;
    }
  }

  .moderators-wrapper {
    .membership {
      display: inline-block;
    }
  }

  .groups-list {
    display: table;
    width: 100%;

    .group {
      display: table-row;
    }

    .group-title {
      display: table-cell;
      padding: 5px 0;
    }

    .group-host {
      display: table-cell;
      padding: 5px 0;
    }

    .group.active {
      color: #a8a8a8;
      text-decoration: none;
    }
  }

  .group-statistics {
    display: table;

    .group-statistics-element {
      display: table-row;
    }

    .count {
      display: table-cell;
      text-align: right;
      padding-right: 10px;
    }

    .entity-wrapper {
      display: table-cell;
    }
  }
}
