.admin-panel {
  display: table;
  width: 100%;

  @include breakpoint(0 ($screen-md - 1)) {
    display: block;
  }
}

.admin-panel-left {
  display: table-cell;
  width: 138px;

  @include breakpoint(0 ($screen-md - 1)) {
    display: block;
    width: auto;
  }
}

.admin-panel-main {
  display: table-cell;
  padding-left: 40px;
  vertical-align: top;

  @include breakpoint(0 ($screen-md - 1)) {
    display: block;
    padding-left: 0;
  }
}

.admin-panel-right {
  display: table-cell;
  width: 220px;
  padding-left: 40px;
  vertical-align: top;

  @include breakpoint(0 ($screen-lg - 1)) {
    width: 160px;
    padding-left: 20px;
  }

  @include breakpoint(0 ($screen-md - 1)) {
    width: auto;
    padding-left: 0;
    margin-top: 20px;
    display: block;
  }

  &.blank {
    @include breakpoint(0 ($screen-lg - 1)) {
      width: 180px;
      padding-left: 20px;
    }
  }
}

.admin {
  .avatar {
    width: 30px;
    margin-right: 10px;
  }

  .current-section {
    margin: 0px 0 15px;

    .current-section-icon {
      margin-right: 18px;
    }
  }

  .section-name {
    text-transform: uppercase;
    margin: 20px 0 0;

    form {
      display: inline-block;
    }
  }

  .section-separator {
    margin: 5px 0 5px;
  }

  .members {
    .members-list {
      overflow: hidden;
      width: 100%;

      .members-type {
        float: left;
        display: inline-block;
        width: 15%;
      }

      .avatars {
        float: left;
        padding: 0;
        display: inline-block;
        width: 85%;
      }
    }
  }

  .posts, .comments, .memberships {
    .post, .comment, .membership {
      padding: 10px 0 15px;
      border-bottom: 1px solid #eaecee;
      margin-bottom: 0;
    }
  }

  .membership, .comment, .post {
    .item-name {
      width: 30%;
    }

    .role-link, .state-link {
      span.updateable-pending, span.updateable-moderation {
        color: $danger-color;
      }
    }
  }

  .post, .comment {
    .item-name {
      width: 50%;
      display: inline-block;
    }

    .created-at {
      width: 20%;
      display: inline-block;
    }
  }


  .control {
    text-decoration: underline;
  }

  .controls {
    float: right;

    .controls-separator {
      display: inline;
      margin: 0 3px;

      &:before {
        content: "|";
        color: #ddd;
      }
    }
  }

  .add-link {
    margin-top: 10px;
  }

  .preferences {
    .checkbox label {
      font-weight: 300;
    }
  }
}
