.edit-group {
  .collection-modal {
    .inline-select {
      display: inline-block;
      width: 90%;
    }

    .collection-preview {
      margin-right: 15px;
    }

    .remove-link {
      display: inline-block;
    }
  }

  .group-url {
    display: inline-block;
  }

  .group-image {
    display: inline-block;
    width: 20%;
    float: left;
  }

  .group-information {
    display: inline-block;
    float: left;
  }

  .collections-list {
    .collection-image {
      vertical-align: middle;
    }

    .collection-posts-count {
      margin-left: 10px;
    }

    .collection-name {
      vertical-align: middle;
      text-transform: uppercase;
    }

    .collection-visibility {
      margin-left: 40px;
    }
  }

  .moderators-wrapper {
    .membership {
      display: inline-block;
    }
  }

  .groups-list {
    .group-title {
      float: left;
      width: 20%;
    }

    .group-host {
      float: left;
    }

    .group.active {
      color: #a8a8a8;
      text-decoration: none;
    }
  }

  .group-statistics {
    .group-statistics-element {
      width: 100%;
      overflow: hidden;
    }

    .count {
      display: inline-block;
      width: 10%;

      text-align: right;
    }

    .entity-wrapper {
      display: inline-block;
      margin-left: 5px;
    }
  }
}
