.admin-column {
  padding-left: 0;
}

.admin {
  .avatar {
    width: 30px;
    margin-right: 10px;
  }

  .current-section {
    margin: 0px 0 15px;

    .current-section-icon {
      margin-right: 18px;
    }
  }

  .section-name {
    text-transform: uppercase;
    margin: 20px 0 5px;

    form {
      display: inline-block;
    }
  }

  .section-separator {
    margin: 5px 0 5px;
  }

  .members {
    .members-list {
      overflow: hidden;
      width: 100%;

      .members-type {
        float: left;
        display: inline-block;
        width: 15%;
      }

      .avatars {
        float: left;
        padding: 0;
        display: inline-block;
        width: 85%;
      }
    }
  }

  .posts, .comments, .memberships {
    .post, .comment, .membership {
      padding: 10px 0 15px;
      border-bottom: 1px solid #eaecee;
      margin-bottom: 0;
    }

    :first-child {
      padding-top: 0;
    }
  }

  .membership {
    .item-name {
      width: 30%;
    }

    .role-link {
      span.updateable-pending {
        color: $danger-color;
      }
    }
  }

  .post, .comment {
    .item-name {
      width: 50%;
      display: inline-block;
    }

    .created-at {
      width: 20%;
      display: inline-block;
    }
  }


  .control {
    text-decoration: underline;
  }

  .controls {
    float: right;

    .controls-separator {
      display: inline;
      margin: 0 3px;

      &:before {
        content: "|";
        color: #ddd;
      }
    }
  }

  .add-link {
    margin-top: 10px;
  }

  .preferences {
    .checkbox label {
      font-weight: 300;
    }
  }
}
