.admin {
  .current-section {
    margin: 0px 0 15px;

    .current-section-icon {
      margin-right: 18px;
    }
  }

  .section-name {
    text-transform: uppercase;
    margin: 20px 0 5px;
  }

  .section-separator {
    margin: 5px 0 5px;
  }
}
