.admin-navigation {
  margin-bottom: 20px;
  border-width: 1px;
  border-color: #a8a8a8;

  .title {
    font-size: 18px;
    display: block;
  }

  .admin-navigation-icon {
    display: block;
    width: auto;
    font-size: 4em;
  }
}

.admin-navigation.active {
  color: #a8a8a8;
  border-color: #a8a8a8;
}

.edit-group {
  .group-url {
    display: inline-block;
  }

  .group-image {
    display: inline-block;
    width: 20%;
    float: left;
  }

  .group-information {
    display: inline-block;
    float: left;
  }

  .collections-list {
    .collection-image {
      float: left;
    }

    .collection-posts-count {
      float: left;
      margin-left: 10px;
    }

    .collection-name {
      float: left;
      text-transform: uppercase;
    }

    .collection-visibility {
      width: 50%;
      float: left;
      text-align: center;
    }
  }

  .groups-list {
    .group-title {
      float: left;
      width: 20%;
    }

    .group-host {
      float: left;
    }

    .group.active {
      color: #a8a8a8;
      text-decoration: none;
    }
  }

  .group-statistics {
    .group-statistics-element {
      width: 100%;
      overflow: hidden;
    }

    .count {
      display: inline-block;
      width: 10%;

      text-align: right;
    }

    .entity-wrapper {
      display: inline-block;
    }
  }

  .control {
    text-decoration: underline;
  }

  .controls {
    float: right;

    .controls-separator {
      display: inline;

      &:before {
        content: "|";
        color: $link-color;
      }
    }
  }
}

.admin {
  .current-section {
    margin: 0px 0 15px;

    .current-section-icon {
      margin-right: 18px;
    }
  }

  .section-name {
    text-transform: uppercase;
    margin: 20px 0 5px;
  }

  .section-separator {
    margin: 5px 0 5px;
  }

  .latest-posts {
    .post {
      padding: 10px 0 15px;
      border-bottom: 1px solid #eaecee;
    }

    :first-child {
      padding-top: 0;
    }
  }

  .overview {
    .overview-text {
      margin-bottom: 0;
    }
  }

  .members {
    .members-list {
      overflow: hidden;
      width: 100%;

      .members-type {
        float: left;
        display: inline-block;
        width: 15%;
      }

      .avatars {
        float: left;
        padding: 0;
        display: inline-block;
        width: 85%;
      }
    }
  }

  .notifications {
    .notification {
      width: 100%;

      .notification-title {
        display: inline-block;
        width: 10%;
      }

      .notification-body {
        width: 90%;
      }
    }
  }
}
