.discover, .engage {
  text-align: center;
  border-bottom: 1px solid #d8d8d8;

  .dc-title, .en-title {
    font-size: 48px;
    color: #404040;
    font-weight: bold;
    margin-bottom: 80px;

    .dc-hook-text, .en-hook-text {
      position: relative;

      img {
        position: absolute;
        bottom: -45px;
        left: calc(50% - 20px);
      }
    }
  }

  .en-title {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }

  .dc-screenshot, .en-screenshot {
    img {
      max-width: 90%;

      @include breakpoint(0 $screen-sm - 1) {
        margin-bottom: 1px;
      }
    }
  }
}

.landing-section {
  .section-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;

    .section-title {
      font-size: 24px;
      color: #404040;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      max-width: 450px;
    }

    .btn-sign-up {
      $color: #049F0C;

      background-color: $color;
      border-color: $color;
      min-width: 220px;

      @include on_link_actions {
        background-color: darken($color, 5%);
        border-color: darken($color, 5%);
      }
    }
  }

  .container {

  }

  &.seamless-sharing {
    .section-body {
      max-width: 720px;
      margin: 0 auto;
    }

    .sharing-feature {
      display: table;
      margin-bottom: 35px;

      & > div {
        width: 50%;
        display: table-cell;
      }

      .feature-content {
        .feature-title {
          color: #b7b7b7;
          font-weight: bold;
          font-size: 24px;
          margin-top: 0;
          margin-bottom: 5px;
        }

        .feature-body {
          color: #848484;
          font-size: 17px;
        }
      }

      .feature-image {
        vertical-align: middle;
        text-align: center;
      }

      &.last {
        .feature-image, .feature-content {
          vertical-align: bottom;
        }
      }
    }
  }

  &.knowledge-hub {
    .hub-feature {
      text-align: center;

      @include breakpoint(0 $screen-sm - 1) {
        margin-bottom: 40px;
      }

      img {
        max-width: 100%;
        width: 100%;
      }

      figcaption {
        font-size: 17px;
        color: #aeaeae;
        margin-top: 5px;
      }
    }
  }

  &.testimonials {
    .testimonial {
      text-align: center;

      @include breakpoint(0 $screen-sm - 1) {
        margin-bottom: 40px;
      }

      img {
        display: block;
        margin: 0 auto;
      }

      q.quote {
        display: block;
        font-size: 18px;
        color: #444343;
        font-weight: 400;
        line-height: 1.2em;
        max-width: 200px;
        margin: 10px auto;
      }

      .testi-from {
        display: block;
        font-style: normal;
        color: #202020;
        font-size: 14px;
        margin-top: 15px;
        line-height: 1.6em;

        @include breakpoint(0 $screen-sm - 1) {
          margin-top: 15px;
        }

        a {
          font-weight: bold;
        }
      }

      .testi-name {
        font-weight: bold;
      }
    }
  }
}

.landing-section-divider {
  margin: 60px 0;

  &:last-child {
    margin-bottom: 0;
  }
}
