
.post-unit {
  padding: 0;

  .post {
    @include clearfix;

    .post-left {
      float: left;
      width: 138px;
      margin-right: $grid-gutter-width;

      @include breakpoint(0 ($screen-sm - 1)) {
        @include clearfix;
        width: auto;
      }
    }

    .post-content {
      float: left;
      width: calc(100% - (138px + #{ $grid-gutter-width*2 } + 170px));

      @include breakpoint(0 ($screen-sm - 1)) {
        width: auto;
        clear: both;
      }

      &.voted {
        @include keyframes(post-vote-cooldown) {
          0% {
            background-color: rgb(231, 252, 228);
          }
          100% {
            background-color: white;
          }
        }

        animation: post-vote-cooldown 4s ease-out;
      }
    }

    .post-right {
      float: right;
      width: 170px;

      @include breakpoint(0 ($screen-sm - 1)) {
        width: 64px;
      }
    }

    .post-upvote, .post-share {
      background-color: #fefefe;
      border: 1px solid #e5e5e5;
      border-radius: 5px;

      text-align: center;
      padding: 15px 0;
      font-size: 1.2em;
      margin-bottom: 20px;

      @include breakpoint(0 ($screen-sm - 1)) {
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
        height: 80px;
        float: left;
      }
    }

    a.vote {
      display: block;

      .fa {
        font-size: 42px;
        width: auto;

        @include breakpoint(0 ($screen-sm - 1)) {
          font-size: 24px;
        }
      }

      &.done {
        .fa-close {
          display: none;
        }

        .fa-check {
          display: inline-block;
        }

        &:hover {
          .fa-close {
            display: inline-block;
          }

          .fa-check {
            display: none;
          }
        }
      }
    }

    .vote-count {
      color: #777;

      @include keyframes(cooldown) {
        from {
          color: green;
        }
        to {
          color: #777777;
        }
      }

      &.voted {
        @include animation(cooldown 1s ease-out);
      }
    }

    a.share {

      // @include size(37px 51px);
      // background: image-url("icons/icon_share.png") 0 0 no-repeat;
      // display: inline-block;
      .icon-share {
        font-size: 42px;
        width: auto;

        @include breakpoint(0 ($screen-sm - 1)) {
          font-size: 24px;
        }
      }

      // @include breakpoint(0 ($screen-sm - 1)) {
      //   background-size: 100% 100%;
      //   width: 20px;
      //   height: 25px;
      // }
    }

    .post-header {
      margin-bottom: 20px;
    }

    .post-title {
      color: #727272;
      font-weight: bold;
      font-size: 32px;
      margin: 0;
    }

    .post-meta {
      .date {
        color: #c7c6c6;
        font-size: 18px;
      }
    }

    .post-author {
      text-align: center;
    }

    .post-body {
      font-size: 18px;
      color: #4f3d3d;

      p {
        font-size: 18px;
      }

      img {
        max-width: 100%;
      }
    }

    .user-avatar {
      @include size(64px);
      display: block;
      margin: 0 auto 10px;
      position: relative;

      .role-overlay {
        width: 18px;
        height: 18px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        top: 0;
        left: 0;
      }

      img {
        border-radius: 64px;
      }
    }

    .user-name {
      color: #5c5b5b;
      font-weight: bold;

      @include on_link_actions {
        text-decoration: underline;
      }
    }

    .user-title {
      color: #999797;
      font-weight: 100;
    }
  }

}

