
$post-thumb-size: 75px;
$post-upvote-width: 60px;
$post-upvote-height: auto;
$post-vertical-spacing: 30px;
$post-component-spacing: 16px;

$post-actions-min-width: $icon-circle-size * 2 + $post-component-spacing;
$post-right-min-width: $post-actions-min-width + $post-component-spacing + $post-thumb-size;

.posts-group {
  margin-top: $grid-gutter-width;
}

.posts-listing {
  padding: 0;

  .post {
    @include clearfix();

    margin-bottom: $post-vertical-spacing;
    padding-bottom: $post-vertical-spacing;
    border-bottom: 1px solid #eaecee;

    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    &:hover {
      .post-actions {
        .add-to-collection {
          visibility: visible;
        }
      }
    }
  }

  .post-upvote {
    @include size($post-upvote-width $post-upvote-height);
    border-radius: 5px;
    background-color: #efefef;
    float: left;
    text-align: center;
    padding: 7px 0;
    font-size: 1.2em;

    .vote-count {
      color: #777;
      line-height: 1;
    }

    .vote {
      display: block;
      line-height: 1;

      &.done {
        .fa-close {
          display: none;
        }

        .fa-check {
          display: inline-block;
        }

        &:hover {
          .fa-close {
            display: inline-block;
          }

          .fa-check {
            display: none;
          }
        }
      }
    }

    .share {
      margin-top: 3px;

      a.dropdown-toggle {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #989898;
      }

      .dropdown-menu {
        top: 30px;
      }
    }
  }

  .post-content {
    float: left;
    margin-left: $post-component-spacing/2;
    width: calc(100% - #{$post-right-min-width*1.5 + $post-component-spacing*1.5 + $post-upvote-width});

    @include breakpoint($screen-sm ($screen-md - 1)) {
      width: calc(100% - #{$post-right-min-width + $post-component-spacing*3 + $post-upvote-width});
    }

    @include breakpoint(0 ($screen-sm - 1)) {
      width: calc(100% - #{$post-component-spacing/2 + $post-upvote-width});
    }

    &.voted {
      @include keyframes(post-vote-cooldown) {
        0% {
          background-color: rgb(231, 252, 228);
        }
        100% {
          background-color: white;
        }
      }

      animation: post-vote-cooldown 4s ease-out;
    }

    .title {
      @include ellipsis();
      font-size: 1.3em;
      line-height: 1.3em;
      font-weight: bold;
      color: #727272;
      display: block;

      @include on_link_actions {
        text-decoration: underline;
      }

      @include breakpoint(0 ($screen-xs - 1)) {
        overflow: auto;
        white-space: normal;
      }
    }

    .excerpt {
      color: #908F8F;
      font-size: 1.1em;
      line-height: 1.5em;
      letter-spacing: 0.5px;
    }

    .image {
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 1px dashed #a0a0a0;

      .image-wrapper {
        height: 42px;
        overflow: hidden;

        img {
          max-width: 100%;
        }
      }

    }

    .meta {
      color: #B8B8B8;
      font-size: 0.8em;
      margin-top: 3px;

      a {
        // color: #908F8F;
      }
    }

    .url {
      line-height: 1.5 * $font-size-base * 1.1;
      i {
        margin-right: 5px;
      }
    }
  }

  .post-right {
    float: right;

    @include breakpoint(0 ($screen-sm - 1)) {
      margin-top: 20px;
      width: 100%;
    }
  }

  a.post-thumb {
    @include size($post-thumb-size);

    min-width: $post-thumb-size;
    float: left;
    margin-right: $post-component-spacing;
    border-radius: $post-thumb-size;
    overflow: hidden;

    img {
      @include size($post-thumb-size);
    }

    @include breakpoint(0 ($screen-sm - 1)) {
      @include size($icon-circle-size);

      min-width: 34px;
      float: none;
      display: block;
      margin-right: 0;
      margin-bottom: 5px;

      img {
        @include size($icon-circle-size);
      }
    }

    @include on_link_actions {
      img {
        @include transform(scale(1.1))
      }
    }
  }


  .post-actions {
    text-align: right;
    float: right;
    min-width: $post-actions-min-width;
    margin-top: ($post-thumb-size - $icon-circle-size) / 2;

    @include breakpoint(0 ($screen-sm - 1)) {
      float: none;
      text-align: center;
    }

    .add-to-collection {
      font-size: 2em;
      vertical-align: middle;
      visibility: hidden;
    }

    .post-collections {
      display: inline-block;

      .post-collection {
        position: relative;
        display: inline-block;
        margin-left: 5px;

        &:first-child {
          margin-left: 15px;
        }

        img {
          border-radius: $icon-circle-size;
        }
      }

      .remove-from-collection {
        margin-left: 0;
        color: black;
        position: absolute;
        top: -5px;
        right: -1px;

        &:hover {
          color: red;
        }

        .fa-stack {
          width: 1em;
          height: 1em;
          line-height: 1em;

          .fa-times {
            font-size: 0.8em;
          }
        }
      }
    }

    .share {
      display: inline-block;
      margin-left: $post-component-spacing;

      .dropdown-menu {
        right: 0;
        left: auto;
      }
    }


    @include breakpoint(0 ($screen-sm - 1)) {
      margin-top: 0;
      min-width: $icon-circle-size;
    }
  }
}

.touch {
  .posts {
    .post-actions {
      .add-to-collection {
        visibility: visible;
      }
    }
  }
}

