.module-sign-up {
}

.su-header {
  margin-bottom: 50px;
  text-align: center;

  @include breakpoint(0 $screen-sm) {
    text-align: left;
  }
}

.su-title {
  text-transform: uppercase;
  font-size: 26px;
  position: relative;

  &:after {
    background: transparent image-url("hint_spam_policy.png") no-repeat;
    width: 269px;
    height: 66px;
    content: " ";
    position: absolute;
    top: -41px;
    margin-left: 20px;

    @include breakpoint(0 $screen-sm - 1) {
      display: none
    }
  }
}

.su-subtitle, .su-anti-spam {
  color: #8a8d99;
}

.su-anti-spam {
  margin-top: 10px;
}

.su-body {
  background-color: #f7f7f7;
  box-shadow: 0 0 3px rgba(18, 98, 157, 0.25);
  min-height: 510px;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}

#su_cody {
  @include size(370px 508px);

  position: absolute;
  bottom: -8px;
  background-image: image-url("sprite_cody.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @include breakpoint(0 $screen-sm - 1) {
    display: none;
  }

  &.point-to-email {
    background-position: -370px 0;
  }

  &.point-to-name {
    background-position: -740px 0;
  }

  &.point-to-password {
    background-position: -1110px 0;
  }

  &.has-error {
    background-position: -1483px 0;
  }
}

.su-form {
  width: 340px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 370px;

  .form-group {
    margin-bottom: 12px;

    label {
      font-weight: 400;

      small {
        color: #737373;
      }

      &.error {
        font-size: 14px !important;
        color: red;
        margin: 0;
        font-weight: normal;
      }
    }

    &.has-success {
      label.error {
        display: none !important;
      }
    }

    span.help-block {
      margin: 0;
      color: #FF3B30;
    }

    .form-control-feedback {
      width: auto;
      height: auto;
      margin-top: 12px;
      margin-right: 8px;
      display: none;
    }

    &.has-error, &.has-success {
      p.help-block {
        color: #737373;
      }
    }

    &.has-feedback {
      .form-control-feedback {
        display: inline-block;
      }
    }

    &.fg-su-email {
      label {
        font-size: 1.2em;
      }

      .form-control-feedback {
        margin-top: 17px;
      }

      p.help-block {
        margin-top: 15px;
        font-size: 0.9em;

        a {
          font-size: 1.1em;
        }
      }

      span.help-block + p.help-block, span.help-block + span + p.help-block {
        margin-top: 0;
      }
    }

    &.fg-su-show-password {
      label {
        font-weight: 300;
      }
    }

    &.fg-su-name,
    &.fg-su-title,
    &.fg-su-password {
      margin-right: 100px;

      label {
        max-width: 130%;
        width: 130%;
      }

      @include breakpoint(0 $screen-sm - 1) {
        margin-right: auto;

        label {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  @include breakpoint(0 $screen-sm - 1) {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }

  .btn-sign-up {
    text-transform: uppercase;
    margin-top: 10px;
  }
}



