- if user_signed_in?
  = link_to "Join", join_url(subdomain: group.subdomain), class: "btn btn-fill"
- else
  = link_to "Join", new_user_registration_url(subdomain: group.subdomain), class: "btn btn-fill"
