// Styling for the collections menu in posts listing

$nav-collection-link-color: #666;
$nav-collection-link-color-hover: #333;

.nav-collections {
  float: right;
  font-size: 1.2em;

  @include breakpoint(0 $screen-md) {
    float: none;
    text-align: center;
  }

  &>li {
    margin-right: $grid-gutter-width * 0.8;

    &:last-child {
      margin-right: 0;
    }

    @include breakpoint(0 $screen-md) {
      float: none;
      display: inline-block;
    }

    &>a {
      padding: 0;
      border-radius: 0;
      border: 0;
      color: $nav-collection-link-color;
      text-transform: uppercase;

      &:hover {
        color: $nav-collection-link-color-hover;
      }

      @include on_link_actions {
        background-color: transparent;
      }
    }

    &.active {
      &>a {
        background-color: transparent;
        color: $nav-collection-link-color-hover;
        font-weight: bold;
        text-decoration: underline;

        .fa.circle {
          background-color: $icon-circle-background-color-hover;
        }

        @include on_link_actions {
          background-color: transparent;
          color: $nav-collection-link-color-hover;
        }
      }
    }

    &.dropdown {
      &.open {
        &>a {
          background-color: transparent;
        }
      }

      &.hint-add-collection {
        position: relative;

        &:before {
          background: transparent image-url("hint_add_collection.png") no-repeat;
          width: 293px;
          height: 107px;
          content: " ";
          position: absolute;
          top: 8px;
          right: 25px;
          margin-left: 0;

          @include breakpoint(0 $screen-sm - 1) {
            $width: 293px / 2;
            $height: 107px / 2;
            width: $width;
            height: $height;
            background-size: $width $height;
          }
        }
      }

      .dropdown-toggle {
        & > .fa-ellipsis-h {
          background-color: transparent;
          color: $icon-circle-background-color;
        }

        &:hover,
        &:focus,
        &:active {
          .fa-ellipsis-h {
            background-color: transparent;
            color: $icon-circle-background-color-hover;
          }
        }
      }
    }

    .fa {
      margin-right: 5px;
    }

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }

  .tt-dropdown-menu {
    width: 40em;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;

    .tt-suggestion a {
      font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: normal;
      font-size: 0.85em;
    }
  }

  .collection-image {
    border-radius: 34px;
    margin-right: 5px;
  }
}

.select-icon-class {
  padding: 3px 4px;
  display: inline-block;
  color: #666;

  @include on_link_actions {
    background-color: #3ea8db;
    color: white;
  }
}
