#landing_navbar {
  &.navbar-transparent {
    background-color: transparent;
  }

  &.navbar {
    min-height: 50px;

    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;

      & > li {
        &.dropdown-profile {
          &>a {
            .profile-info {
              color: white;
            }
          }
        }

        & > a {
          padding: 10px 15px;
          margin: 15px 3px;

          &.btn-simple {
            color: white;
          }

          &.btn-add-group {
            margin: 18px 3px;
          }

          &.btn-bright-primary {
            background-color: rgba(255, 255, 255, 0.12) !important;
            border-width: 0;
            font-size: 16px;
            min-width: 120px;

            @include on_link_actions {
              background-color: rgba(255, 255, 255, 0.25) !important;
            }
          }
        }
      }
    }
  }
}

.navbar-landing-trbes {
  background-color: rgba(black, 0.8);
}
