$profile-photo-size: 48px;

#navbar_navigation {
  .navbar-nav {
    margin-top: 30px;
    margin-bottom: 30px;

    &>li {
      &.dropdown-profile {
        &>a {
          padding: 14px 0;
          height: $profile-photo-size;
          background-color: transparent;

          .profile-info {
            text-align: right;
            margin-right: $profile-photo-size + 10px;
            color: $brand-primary;

            div {
              color: #696969;
            }

            @include breakpoint($screen-sm $screen-md - 1) {
              display: none;
            }
          }

          .profile-photo {
            @include size($profile-photo-size $profile-photo-size);
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .dropdown-menu {
          text-align: center;
          top: 62px;
        }
      }

      .btn-add-post, .btn-add-group {
        padding: 10px 40px;
        color: white;
        margin: 3px 0 0 60px;
        font-size: 1.2em;
        border-width: 0;
        // background-color: #3ea8db !important;
        max-width: 280px;
        display: inline-block;

        .fa-plus {
          color: white;
          margin-right: 5px;
        }

        @include on_link_actions {
          background-color: #2e6da4;
        }

        @include breakpoint($screen-md $screen-lg - 1) { // iPad
          margin-left: 20px;
        }

        @include breakpoint($screen-sm $screen-md - 1) { // iPad
          margin-left: 20px;
          padding: 10px;
          width: 42px;

          .fa-plus {
            margin-right: 0;
          }

          span {
            display: none;
          }
        }

        @include breakpoint(0 $screen-sm - 1) { // smaller than iPad
          background-color: #3ea8db;
          opacity: 1;
          margin: 20px 0;
          width: 100%;
          border-radius: 4px;
        }
      }

      .btn-add-group {
        padding-left: 15px;
        padding-right: 15px;

        span.alternate, .fa {
          display: none;
        }

        @include breakpoint($screen-sm $screen-md - 1) { // iPad
          padding: 10px;
          width: auto;

          span.alternate, .fa {
            display: inline-block;
          }
        }
      }
    }
  }

  @include breakpoint(0 ($screen-sm - 1)) { // smaller than iPad
    background-color: #efefef;

    .navbar-nav {
      margin: 20px 0;
      text-align: center;

      &>li {
        float: none !important;

        &.dropdown-profile {
          padding-bottom: 20px;

          &>a {
            margin: 0;
            opacity: 1;

            .profile-photo {
              left: 0;
            }

            .profile-info {
              text-align: left;
              margin-right: 0;
              margin-left: $profile-photo-size + 3px;

              div {
                color: #bbb;
              }
            }
          }
        }
      }
    }
  }
}


