.post
  .item-name
    = image_tag post.user.avatar_url,
        class: "img-circle avatar",
        data: { toggle: "tooltip", placement: "top" },
        title: post.user_full_name

    = link_to truncate(post.title, length: 50), post_path(post)
  '&nbsp;
  span class="created-at" #{post.created_time_ago} ago
  = link_to "#" do
    = best_in_place post,
        :state,
        as: :select,
        collection: Hash[Post.states.keys.zip(Post.states.keys)],
        place_holder: post.state,
        url: admin_post_path(post),
        class: "state"

  .controls
    = link_to "edit", edit_post_path(post), class: "control"
    .controls-separator
    = link_to "delete",
        post_path(post),
        class: "control",
        method: :delete,
        data: { confirm: %Q{Are you sure you want to delete "#{post.title}"?}}
