#footer {
  clear: both;
  padding: 20px 0;
  margin-top: 40px;

  p {
    margin: 0;

    &.powered-by {
      font-size: 12px;

      img {
        vertical-align: baseline;
      }
    }
  }
}

#footer_landing {
  background-color: #e7e6e6;
  padding: 60px 0;

  ul.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;

    li {
      display: inline;
      margin-left: 10px;
      margin-right: 10px;
    }

    a {
      color: #727272;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .disclaimer {
    color: #a9a8a8;
    margin-bottom: 20px;
  }

  .copyright {
    color: #a9a8a8;
  }
}
