#footer {
  clear: both;
  padding: 20px 0;
  margin-top: 40px;

  p {
    margin: 0;

    &.powered-by {
      font-size: 12px;

      img {
        vertical-align: baseline;
      }
    }
  }
}

#footer_landing {
  margin-top: 60px;
  padding-bottom: 120px;

  .footer-block {
    margin-bottom: 40px;
  }

  .footer-block-company {
    max-width: 190px;
  }

  .footer-title {
    color: #585858;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
  }

  .footer-block-content {
    font-size: 16px;
  }

  ul.footer-links {
    list-style: none;
    padding: 0;
  }

  .hello-customer {
    text-align: right;
    float: right;

    .message {
      font-size: 24px;
      color: #404040;
      line-height: 1.3em;
    }

    .copyright {
      font-size: 14px;
      color: #afafaf;
      margin-top: 30px;
    }
  }
}
