
.navbar-default {
  border: 0;
}

.navbar-brand {
  @include transition(all 0.25s ease-out);

  position: absolute;
  margin: 0 !important;
  padding: 0;
  top: 36px;
  left: 50px;
  height: auto;
  font-size: 2em;
  color: black;
  background: #f8f8f8;

  @include breakpoint(0 $screen-sm) {
    padding: 2px;
    top: 5px;
    left: 5px;

    @include on_link_actions {
      background: white !important;
    }
  }
}

// Group
.navbar-group {
  @include clearfix();
}

.group-logo {
  float: left;
}

.group-info {
  float: left;
  margin: 0;
  margin-top: 30px;
  margin-left: $grid-gutter-width/2;
}

.group-name {
  font-size: 1.4em;
  font-weight: bold;
  color: #333;

  &:hover,
  &:active,
  &:focus {
    color: #333;
  }
}

.group-desc {
  color: #696969;
  font-size: 1.2em;
}