
.navbar-default {
  border: 0;
}

.navbar-brand {
  @include transition(all 0.25s ease-out);

  position: absolute;
  margin: 0 !important;
  padding: 0;
  top: 36px;
  left: 50px;
  height: auto;
  font-size: 2em;
  color: black;
  background: #f8f8f8;

  @include on_link_actions {
    background: white !important;
  }

  @include breakpoint(0 $screen-sm) {
    padding: 2px;
    top: 5px;
    left: 5px;
  }
}

.navbar {
  @include breakpoint(0 ($screen-sm - 1)) {
    min-height: 54px;

    .navbar-toggle {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

// Group
.navbar-group {
  @include clearfix();
}

.group-logo {
  float: left;
  margin-right: $grid-gutter-width/2;
}

.group-info {
  float: left;
  margin: 0;
  margin-top: 30px;
}

.group-name {
  font-size: 1.4em;

  a {
    font-weight: 400;
    color: #333;

    @include on_link_actions {
      color: #333;
    }
  }

  .dropdown {
    display: inline-block;

    button {
      padding: 0;
      background: none;
      border: 0;

      .fa {
        font-size: 18px;
        width: 18px;
        height: 18px;
        padding: 0;
        color: #bababa;
      }

      @include on_link_actions {
        @include box-shadow(none);
        background: none;

        .fa {
          color: #333;
        }
      }
    }
  }
}

.group-desc {
  color: #696969;
  font-size: 1.2em;
}

@include breakpoint(0 ($screen-sm - 1)) { // smaller than iPad
  .navbar-group {
    margin-left: 40px;
  }

  .group-logo {
    margin-right: 10px;
    img {
      height: 54px;
    }
  }

  .group-info {
    margin-top: 5px;
  }

  .group-name {
    font-size: 1.2em;
  }

  .group-desc {
    font-size: 1em;
  }
}

#navbar_navigation {
  @include breakpoint(0 ($screen-sm - 1)) {
    background-color: #efefef;

    .navbar-nav {
      margin-left: 0;
      margin-right: 0;
      text-align: center;
    }
  }
}

.btn-add-post {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  color: white !important;
  margin: 30px 0 30px 60px !important;
  font-size: 1.2em;
  // background-color: #3ea8db !important;
  max-width: 280px;
  display: inline-block !important;

  .fa-plus {
    color: white;
    margin-right: 5px;
  }

  @include on_link_actions {
    background-color: #2e6da4 !important;
  }

  @include breakpoint(0 $screen-lg - 1) { // iPad
    margin-left: 20px !important;
  }

  @include breakpoint(0 $screen-md - 1) { // iPad
    padding: 10px !important;
    width: 42px;

    .fa-plus {
      margin-right: 0;
    }

    span {
      display: none;
    }
  }

  @include breakpoint(0 ($screen-sm - 1)) { // smaller than iPad
    margin: 0 !important;
  }
}