p Hello #{@resource.full_name.html_safe}!

p We received a request to reset the password for your Trbes account (#{@resource.email}). To reset your password click on the link below or copy and paste the URL into your browser:

p = link_to "Change my password", edit_password_url(@resource, reset_password_token: @token)

p If you didn't request this, please ignore this email.

p Your password won't change until you access the link above and create a new one.
