#fb-root

coffee:
  window.fbAsyncInit = ->
    FB.init
      appId: gon.facebook_app_id
      xfbml: true
      version: "v2.2"
    return

  ((d, s, id) ->
    js = undefined
    fjs = d.getElementsByTagName(s)[0]
    if d.getElementById(id)
      return
    js = d.createElement(s)
    js.id = id
    js.src = "//connect.facebook.net/en_US/sdk.js"
    fjs.parentNode.insertBefore js, fjs
    return
  ) document, "script", "facebook-jssdk"
