<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield %>

    <br>
    <p>
      <em>Martin, Airat, Cody and the Trbes Team.</em>
      <br>
      <em><a href="http://trbes.com">http://trbes.com</a></em>
    </p>
  </body>
</html>
